@import "../../../styles.scss";

.bg{
    background-image: $background-image;
    height:100%;
    &.night{
        background-image: $background-image-dark;
    }
}

.text-container{
    background-color: rgba($color: #ffffff, $alpha: 0.85);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 50px;
    top: 25%;
    position: relative;
    @media only screen and (max-width: 600px) {
        padding: 50px 50px 80px 50px;
    }
    form{
        text-align: center;
    }
    input{
        margin: 10px;
        padding: 10px 20px;
        height: 30px;
        border-radius: 30px;
        border-style: none;
        background-color: white;
        border: 1px solid $grey;
        @media only screen and (max-width: 600px) {
            display: block;
            margin: 10px auto;
        }
    }
    mat-slider{
        margin: 10px;
    }
    .text-result-container{
        text-align: center;
    }
    .text-result{
        border: 1px solid $grey;
        background-color: white;
        border-radius: 30px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        padding: 0px 20px;
        overflow: hidden;
    }
}